#panorama {
    width: auto;
    height: 400px;
}

#scene .btn-select-number {
    cursor: pointer;
}

#hotspots .tab-content {
    min-height: 300px;
}

#hotspots .btn-remove-hotspot {
    position: absolute;
    top: 0;
    right: 0;
}

#btn-add-hotspot {
    width: 100%;
}
